* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin-block: 0rem;
}

h1 {
    color:white;
    /* font-size: 3.052rem;  */ 
    font-size: 3rem;
}

h2 {

    font-size: 2.441rem;
}

h3 {
    color:blue;
    font-size: 1.953rem;
}


h4 {
    color:rgb(223, 238, 11);
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
font-size: 1rem;

}

p{

    line-height: :1.6em;
    margin-block: 0.6em;;
}



header {
    background-color:darkgrey;
    justify-content: space-between;
    align-items: center;
    header: 20px;
}


div {
    /* border:solid 1px yellow;
    width:100px; */
}
button {
    background-color: navy;
    color: white;
    border-radius: 50px;
 
}

.btn-large {
    width: 200px;
    height: 60px;
    font-size: 21px;
}

/* .grid {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
} */



.card {
    background-color: lavender;
    padding: 20px;
    border: 2px solid red;
    width: 250px;
    /* margin: 50px; */

    margin: 50px 30px 10px 30px;
   
}

#card {
    justify-content: space-evenly;
}

img {
    width: 100%;
    
}

.logo-header {
    width:100px;
}

#hero {
    height: 50vh;
    /* background-color: tomato; */
    text-align: center;
    background-image: url("../img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
    background-size: cover;
    /* background-position:center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    text-align: center;
    background-image: url("../img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
    background-size: cover;
    /* background-position:center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    text-align: center;
    background-image: url("../img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
    background-size: cover;
    /* background-position:center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    text-align: center;
    background-image: url("../img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
    background-size: cover;
    /* background-position:center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    text-align: center;
    background-image: url("../img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
    background-size: cover;
    /* background-position:center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
    text-align: center;
    background-image: url("../img/maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg");
    background-size: cover;
    /* background-position:center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}       

#about {
    height: 50vh;
}
#contact {
    height: 600px;
    background-color: coral;
    /* border: 5px solid black
    margin: 100px; */
    padding: 50px 100px;

}
footer {
    height: 50vh;
}

.container {
    display: flex; /* or inline-flex */

}
/* LINKS */
a:link, a:visited {
    background-color: darkblue;
    text-decoration: none;
    padding: 10px;
    

}

a:hover {
    background-color: darkcyan;
}

a:visited {

}

a:active {
    background-color: darkorange;

}

/* menu links */
a.menu:link, a.menu:visited {
    background: none;
    color:greenyellow;
}

a.menu:hover {
    color: darkred;

}

/* section div h3{
    border: 2px dashed blue;
} */

/* links icons */

a.icon:link {
    background: none;
    
}

a.icon:hover {
    background-color: darkviolet;
    color: ghostwhite;
    border:radius 50%;;

}

img {
    filter: contrast(100%);
    filter: grayscale(10%);
    /* filter:saturate(100%); */

}

/* _________________________________ */
/* _________________________________ */
/* Code only for Tablet */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h1 {
        background-color: blue;
         font-size: 2.052rem;  
    }
}


/* _________________________________ */
/* _________________________________ */
/* Code only for Desktop */
@media only screen and (min-width: 768px) {
    h1 {
        background-color: darkmagenta;
        font-size: 3.052rem; 
    }

}


